/Java/New Folder/ArgumentosVariables/nbproject/private/
/Java/New Folder/ArgumentosVariables/build/
/Java/Lección02/Enumeraciones/nbproject/private/
/Java/Lección02/Enumeraciones/build/
/Java/Lección02/BloquesInicializacion/nbproject/private/
